external/riscv-tests
external/buildroot-linux/linux/build
external/buildroot-linux/linux/image.bin
external/buildroot-linux/buildroot/rootfs.cpio
external/buildroot-linux/builldroot/build
fs.img

build/
.vscode/
.cache/
