external/riscv-tests
external/buildroot-linux/linux/build
external/buildroot-linux/linux/image.bin
external/buildroot-linux/buildroot/rootfs.cpio
external/buildroot-linux/builldroot/build
external/buildroot-linux/image.bin
externa/debian-linux/build
external/debian-linux/image.bin
external/debian-linux/output
fs.img

build/
.vscode/
.cache/
